@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
.banner-text{
  font-size: 3.75rem;
  line-height: 1.3;
}
.backgroundColor-tickmark{
  background-color: rgba(189, 132, 114, 0.3);
}
.left-custom{
  left: 29%;
}
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
